@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #23272c; */
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.h2 {
  line-height: 2.5rem;
  text-align: center;
  font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  font-weight: 700;
  color: #48368d;
  margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
}

.focused label {
  transform: translateY(-1.5em);
  font-size: 0.75em;
}

.focused-label {
  transform: translateY(-1.5em);
  font-size: 0.75em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.prevBtn, .nextBtn {
  background-color: #ff66c4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  border: 1px solid #ff66c4;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    &:hover {
      background-color: white;
      color: #ff66c4;
    }
  }
}

/* ======== course page ========= */
.course {
  margin-top: 75px;
}

.courseWrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.courseTitle {
  font-size: clamp(2.25rem, 1.886rem + 1.82vw, 3.25rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #ff66c4;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(223, 63, 63, 0.5); /* Тень */
  -webkit-text-stroke: 1px rgba(223, 63, 63, 0.5); /* Контур */
}
.courseDescription {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center;
}

.courseContact {
  width: 100%;
  padding: 50px 0;

  @media (min-width: 768px) {
    width: 70%;
    margin: 0 auto;
  }
}

.courseContactTitle {
  font-size: clamp(1.5rem, 1.2rem + 0.91vw, 2rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #ff66c4;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(223, 63, 63, 0.5); /* Тень */
  -webkit-text-stroke: 1px rgba(223, 63, 63, 0.5); /* Контур */
}

.courseContactText {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center;
}