@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f5f7;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.h2 {
  line-height: 2.5rem;
  text-align: center;
  font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  font-weight: 700;
  color: #48368d;
  margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
}

.focused label {
  transform: translateY(-1.5em);
  font-size: 0.75em;
}

.focused-label {
  transform: translateY(-1.5em);
  font-size: 0.75em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}